@import "tailwindcss";

h1,h2,h3{
  font-family: 'Space Grotesk', sans-serif;
}

p{
  font-family: 'Poppins', sans-serif;
}
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.animate-float{
  animation: float 6s ease-in-out infinite;
}
